<div class="ui sticky" style="background: white">
    <div class="ui divider" style="margin:0px;"></div>
  <div class="ui container">
    <div id="breadcrumb" class="ui breadcrumb">
      <a class="section">Home</a>
      <i class="right angle icon divider"></i>
      <a class="active section" id="breadcrumb_text">
        <%= breadcrumb %>
      </a>
    </div>
  </div>
  <div class="ui divider" style="margin:0px;"></div>
</div>