<!DOCTYPE html>
<html>

<head>
  <% include partials/head %>
</head>

<body>
  <header>
    <% include partials/header %>
      <% include partials/breadcrumb %>
  </header>
  <main id="main">
    <img class="introImage" src="/images/background4.jpg" />
    <div class="ui container">
        <div class="ui grid">
          <div class="four wide column">
          <h2>동아리 연혁</h2>
        </div>
        <div class="twelve wide column">
          <div class="line"></div>
          <div class="ui relaxed divided list">
            <div class="item">
              <div class="content padding33">
                <div class="ui grid">
                  <div class="four wide column">
                    <h3>2017년</h3>
                  </div>
                  <div class="twelve wide column">
                    <p>아동 노동 착취 관련 웹 게임
                      <b>Dawson's Daily Life</b>, 2017 교내 학술제 입상</p>
                    <p>도서교환 웹서비스
                      <b>도서로</b>, 2017 교내 학술제 입상</p>
                    <p>편집 에디터
                      <b>마이노트</b>, 2017 교내 학술제 입상</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="content padding33">
                <div class="ui grid">
                  <div class="four wide column">
                    <h3>2016년</h3>
                  </div>
                  <div class="twelve wide column">
                    <p>서울시 물가비교 쇼핑 어플
                      <b>PricePlace</b>, 2016 교내 학술제 입상</p>
                    <p>브라우저 탭 통합 서비스
                      <b>TabStorage</b>, 2016 교내 학술제 입상</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="content padding33">
                <div class="ui grid">
                  <div class="four wide column">
                    <h3>2015년</h3>
                  </div>
                  <div class="twelve wide column">
                    <p>동물병원 추천 플랫폼
                      <b>Keepet</b>, 2015 교내 학술제 입상</p>
                    <p>강의평가 및 시간표 짜기 어플리케이션
                      <b>아뭐듣지</b> (등록된 시간표 수 1400개)</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="content padding33">
                <div class="ui grid">
                  <div class="four wide column">
                    <h3>2014년</h3>
                  </div>
                  <div class="twelve wide column">
                    <p>현재 날씨에 어울리는 음악추천
                      <b>WeatherMusic</b>, 2014 청년창업기상기후산업 기상청장상</p>
                    <p>
                      <b>오늘의 자외선</b>, 기상청 추천 앱 등록</p>
                    <p>뉴스 요약 어플
                      <b>그래서 오늘은</b>, 2014 정주영 창업경진대회 해커톤 2위</p>
                    <p>대학생 이상형 월드컵
                      <b>Fethering</b>, venture square 2014 5월의 아이템 선정</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="ui grid">
        <div class="four wide column">
          <h2>웹 서비스</h2>
        </div>
        <div class="twelve wide column">
          <div class="line"></div>
        </div>
      </div>
      <div class="ui three column eqaul width grid">
        <div class="column">
          <div class="ui card">
            <div class="image">
              <img src="/images/webservices/doseoro.jpg">
            </div>
            <div class="content">
              <a class="header">도서로</a>
              <div class="meta">
                <span class="date">Made in 2017</span>
              </div>
              <div class="description">
                사용하지 않는 책, 혹은 필요한 책을 온라인상에서 다른 사람들과의 거래를 지원해주는 웹 서비스
              </div>
            </div>
            <div class="extra content">
              <a>
                <i class="user icon"></i>
                22 Friends
              </a>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui card">
            <div class="image">
              <img src="/images/webservices/dawson.jpg">
            </div>
            <div class="content">
              <a class="header">DAWSON'S DAILY LIFE</a>
              <div class="meta">
                <span class="date">Made in 2017</span>
              </div>
              <div class="description">
                Dawson이라는 콩고의 한 아이를 모티브로 전세계의 아동 노동 착취를 알리고, 실제 아동들의 노동들을 바탕으로 제작된 웹 게임
              </div>
            </div>
            <div class="extra content">
              <a>
                <i class="user icon"></i>
                22 Friends
              </a>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui card">
            <div class="image">
              <img src="/images/webservices/mynote.png">
            </div>
            <div class="content">
              <a class="header">MY NOTE</a>
              <div class="meta">
                <span class="date">Made in 2017</span>
              </div>
              <div class="description">
                웹 상에서 자신이 원하는 자료를 정리하고 사람들과 공유할 수 있는 웹 노트 서비스
              </div>
            </div>
            <div class="extra content">
              <a>
                <i class="user icon"></i>
                22 Friends
              </a>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui card">
            <div class="image">
              <img src="/images/webservices/tabStorage.png">
            </div>
            <div class="content">
              <a class="header">Tab Storage</a>
              <div class="meta">
                <span class="date">Made in 2016</span>
              </div>
              <div class="description">
                웹 사용 시 생성되는 수많은 Tab들을 편리하게 저장, 관리 및 공유 할 수 있게 지원해주는 웹 확장 프로그램
              </div>
            </div>
            <div class="extra content">
              <a>
                <i class="user icon"></i>
                22 Friends
              </a>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui card">
            <div class="image">
              <img src="/images/webservices/shopIn.png">
            </div>
            <div class="content">
              <a class="header">ShopIn</a>
              <div class="meta">
                <span class="date">Made in 2015</span>
              </div>
              <div class="description">
                단 하나의 계정으로 모든 상품을 담아 편리하게 온라인 쇼핑을 지원해주는 웹 서비스
              </div>
            </div>
            <div class="extra content">
              <a>
                <i class="user icon"></i>
                22 Friends
              </a>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui card">
            <div class="image">
              <img src="/images/webservices/keepet.png">
            </div>
            <div class="content">
              <a class="header">keepet</a>
              <div class="meta">
                <span class="date">Made in 2015</span>
              </div>
              <div class="description">
                현재 위치에서 가까운, 평점이 좋은 동물 병원을 사용자에게 제공해주는 웹 플랫폼
              </div>
            </div>
            <div class="extra content">
              <a>
                <i class="user icon"></i>
                22 Friends
              </a>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui card">
            <div class="image">
              <img src="/images/webservices/sejongPlate.png">
            </div>
            <div class="content">
              <a class="header">Sejong Plate</a>
              <div class="meta">
                <span class="date">Made in 2015</span>
              </div>
              <div class="description">
                세종대 학생들을 위한 맛집 추천 웹 서비스
              </div>
            </div>
            <div class="extra content">
              <a>
                <i class="user icon"></i>
                22 Friends
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <% include partials/footer %>
  </footer>
</body>

</html>