<!DOCTYPE html>
<html>

<head>
  <% include partials/head %>
  <link rel='stylesheet' href='/stylesheets/index.css' />
</head>

<body>
  <header>
    <% include partials/header %>
  </header>
  <main id="main">
    <img class="introImage" src="/images/background3.jpg" />
    <div class="ui container">
      <div class="ui equal width grid">
        <div class="column contents174">
          <h2 class="ui header">About OpenYearRound</h2>
            <p>OpenYearRound는 웹개발 동아리로 스터디를 통해 웹/모바일 어플리케이션 개발에 중점을 두고 있고, 현재 각종 공모전 및 학술제에 참여하고 있습니다.</p>
        </div>
        <div class="column">
          <h2 class="ui header">공지사항</h2>
            <div class="ui relaxed divided list">
              <div class="item">
                <div class="content">
                  <a class="header">Semantic-Org/Semantic-UI</a>
                  <div class="description">Updated 10 mins ago</div>
                </div>
              </div>
              <div class="item">
                <div class="content">
                  <a class="header">Semantic-Org/Semantic-UI-Docs</a>
                  <div class="description">Updated 22 mins ago</div>
                </div>
              </div>
              <div class="item">
                <div class="content">
                  <a class="header">Semantic-Org/Semantic-UI-Meteor</a>
                  <div class="description">Updated 34 mins ago</div>
                </div>
              </div>
            </div>
        </div>
        <div class="column">
          <div id="third">

          </div>
        </div>
      </div>
    </div>

  </main>
  <footer>
    <% include partials/footer %>
  </footer>
</body>

</html>